


<p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p>
  <h2 id="h2" style="font-family: 'Shantell Sans', cursive;background-color: beige;">Cat Adoption Form</h2>
  
  <p class="placeholder-wave">
    <span class="placeholder col-12"></span>
  </p>
 <section class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="contact_inner">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="contact_form_inner">
                                <div class="contact_field">
                                    <p id="description"><em>Thank you for wishing to offer a rescue cat a home! Please contact if you are interested.... </em></p>
    

    
                                    <h3>Contatc Us</h3>
                                    <p>Feel Free to contact us any time. We will get back to you as soon as we can!.</p>
                                    <input type="text" class="form-control form-group" placeholder="Name" name="uname" [(ngModel)]="uname" >
                                    <input type="text" class="form-control form-group" placeholder="Email" name="email" [(ngModel)]="uemail">
                                    <textarea class="form-control form-group" placeholder="Message"[(ngModel)]="message" ></textarea >
                                    <button class="contact_form_submit"(click)="usrSend()" type="submit">Send</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="right_conatct_social_icon d-flex align-items-end">
                               <div class="socil_item_inner d-flex">
                                  <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact_info_sec">
                        <h4>Contact Info</h4>
                        <div class="d-flex info_single align-items-center">
                            <i class="fas fa-headset"></i>
                            <span>8136800806</span>
                        </div>
                        <div class="d-flex info_single align-items-center">
                            <i class="fas fa-envelope-open-text"></i>
                            <span>aparnaravi15052001@gmail.com</span>
                        </div>
                        <div class="d-flex info_single align-items-center">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>1000+ Travel partners and 65+ Service city across India, USA, Canada & UAE</span>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



