
<p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p>
   <div class="login-page" >
      <div class="avatar">
        <img src="https://cdn.dribbble.com/users/77598/screenshots/17399596/media/337194b9b6a9ae0a2b9e385ca20e1aba.png?compress=1&resize=400x300" alt="Avatar">
      </div>
      <div class="form">
        <h2 style="font-family: 'Lobster', cursive;">REGISTER HERE</h2>
        <form>
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
          <input type="password" placeholder="Repeat Password">
          <button>Signup</button>
        </form>
        <p class="message">Forgot your password? <a href="#">Click here to reset it</a></p>
      </div>
    </div>
    <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p>

