<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" > 
    <div class="container-fluid">
      <a class="navbar-brand" href="" style="font-family: 'Gloock', serif;font-family: 'Lobster', cursive;font-family: 'Shantell Sans', cursive;" style="color: beige;">CAT CORNER</a>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#" style="color: beige;">HOME</a>
          <a class="nav-link" href="cats-and-kittens" style="color: beige;">CATS AND KITTENS</a>
          <a class="nav-link" href="contact" style="color: beige;">ADOPTION</a>
          <a class="nav-link" href="login" style="color: beige;">LOGIN/SIGNUP</a> 
        </div>
      </div>
    </div> 
  </nav>




  -->

  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-family: 'Gloock', serif; font-family: 'Lobster', cursive; font-family: 'Shantell Sans', cursive; color: beige;">CAT CORNER</a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: beige;">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cats-and-kittens" style="color: beige;">CATS AND KITTENS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact" style="color: beige;">ADOPTION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login" style="color: beige;">LOGIN/SIGNUP</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  