<!-- 
<p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p>
  
    
  
   <div class="login-page" >
    
      <div class="avatar">
        <img src="https://cdn.dribbble.com/users/77598/screenshots/17399596/media/337194b9b6a9ae0a2b9e385ca20e1aba.png?compress=1&resize=400x300" alt="Avatar">
      </div>
      <div class="form">
        <h2 style="font-family: 'Lobster', cursive;">LOGIN</h2>
        <form>
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
          <button>Log in</button>
        </form>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
        <p class="message">Forgot your password? <a href="#">Click here to reset it</a></p>
      </div>
    </div>
    <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p>
 -->

 <body>
   <div class="main">  	
     <input type="checkbox" id="chk" aria-hidden="true">
 
       <div class="signup">
        
         <form>
           <label for="chk" aria-hidden="true">Sign up</label>
           <input type="text" name="txt" placeholder="User name" required="">
           <input type="email" name="email" placeholder="Email" required="">
           <input type="password" name="pswd" placeholder="Password" required="">
           <input type="password" name="pswd" placeholder="Repeat Password" required="">
           <button>Sign up</button>
         </form>
       </div>
 
       <div class="login">
         <form>
           <label for="chk" aria-hidden="true">Login</label>
           <input type="email" name="email" placeholder="Email" required="">
           <input type="password" name="pswd" placeholder="Password" required="">
           <button>Login</button>
         </form>
       </div>
   </div>
 </body>
