
/* #d1{
    background-color: transparent;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/040/425/355/large/laura-vergara-amandawallpaper.jpg?1628800858");
     background-size: cover;
  } */
 /* body{
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/040/425/355/large/laura-vergara-amandawallpaper.jpg?1628800858");
 } */
  
/* body {
  background-image: url(".https://t4.ftcdn.net/jpg/02/66/72/41/360_F_266724172_Iy8gdKgMa7XmrhYYxLCxyhx6J7070Pr8.jpg");
  background-size: cover;
}
  .login-page {
    
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .avatar {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .form button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: none;
    background-color: #2196F3;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .form button:hover,
  .form button:active,
  .form button:focus {
    background-color: #1976D2;
  }
  
  .form h2 {
    color: #333333;
    font-size: 28px;
    margin: 0 0 30px;
  }
  
  .form p.message {
    color: #666666;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .form p.message a {
    color: #2196F3;
    text-decoration: none;
  }
  
  .form p.message a:hover {
    text-decoration: underline;
  }
   */
   body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #3d3963, #595395, #7a7abc);
  }
  .main{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
  }
  #chk{
    display: none;
  }
  .signup{
    position: relative;
    width:100%;
    height: 100%;
  }
  label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  button:hover{
    background: #6d44b8;
  }
  .login{
    
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
  }
  .login label{
    color: #573b8a;
    transform: scale(.6);
  }
  
  #chk:checked ~ .login{
    transform: translateY(-500px);
  }
  #chk:checked ~ .login label{
    transform: scale(1);	
  }
  #chk:checked ~ .signup label{
    transform: scale(.6);
  }
  