<div class="container" id="d">
    <div class="col">
        <div class="row mb-5">
   <img src="{{single[0].img}}" class="card-img-top" alt="">
   


<h3 style="font-style: oblique;color: rgb(48, 14, 14);">{{single[0].details}}</h3>
 <h3 style ="font-style: italic;font-size: large;">{{single[0].d1}}</h3>
<h3 style ="font-style: italic;font-size: large;">{{single[0].d2}}</h3>
<h3 style ="font-style: italic;font-size: large;">{{single[0].d3}}</h3>
<h3 style ="font-style: italic;font-size: large;">{{single[0].d4}}</h3>
<div id="button">
<button type="submit" id="submit" routerLink="/contact">Adopt me</button>
</div>
</div>
</div>
</div>
