 <!-- <p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p> 
   <h1 style=" text-align: center; font-family: 'Shantell Sans', cursive;">WELCOME TO KITTY WORLD!</h1>

 
      
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  

  <p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p>
  <h2 id="h2" style="font-family: 'Shantell Sans', cursive;">Hey Its Meow Here...!Do You Want to Play with Me?</h2>
  
  <p class="placeholder-wave">
    <span class="placeholder col-12"></span>
  </p>

  <div class="lightbox">
    <div class="row">
      <div class="col-lg-4">
        <img
          src="https://images.unsplash.com/photo-1608928586655-36b8e0abf78b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMGNhdHxlbnwwfHwwfHw%3D&w=1000&q=80"
           data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
          alt=""
          class="w-100"
        />
      </div>
      <div class="col-lg-4">
        <img
          src="https://images.unsplash.com/photo-1615789591457-74a63395c990?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwY2F0fGVufDB8fDB8fA%3D%3D&w=1000&q=80"
           data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/2.webp"
          alt=""
          class="w-100"
        />
      </div>
      <div class="col-lg-4">
        <img
          src="https://images.unsplash.com/photo-1562557054-6c9e08a865cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJlYXV0aWZ1bCUyMGNhdHxlbnwwfHwwfHw%3D&w=1000&q=80"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/3.webp"
          alt=""
          class="w-100"
        />
      </div>
    </div>
  </div>
   <p class="placeholder-wave">
    <span class="placeholder col-12"></span>
  </p> 
  <app-courosal></app-courosal> 

  
  
   <div class='text-pop-up-top'>Alex Santos</div> 

  
  <body>
    <nav class="nav">
      
        <p class="item-1">Welcome to the Amazing Wolrd of Kitty Cat </p>
     
        <p class="item-2">Cats are believed to be the only mammals who don't taste sweetness.</p>
     
        <p class="item-3">Cats are supposed to have 18 toes (five toes on each front paw; four toes on each back paw).</p>

        <p class="item-4">A cat with a question-mark-shaped tail is asking, “Want to play?”</p>
     
        <p class="item-5">Cats find it threatening when you make direct eye contact with them.        </p>
     
        <p class="item-6">Your cat drapes its tail over another cat, your dog, or you as a symbol of friendship.</p>

        <p class="item-7">A cat's learning style is about the same as a 2- to 3-year-old child.</p>
     
        <p class="item-8">Cats have nearly twice the amount of neurons in their cerebral cortex as dogs.</p>
     
        <p class="item-9"> Cats live longer when they stay indoors.</p>

        <p class="item-10">Cats can spend up to a third of their waking hours grooming.</p>

        
        
    </nav>
    <div class="wrapper">
      <main class="main ">
        <div class="slide">
        <div class="portfolio">
          <section class="portfolio_items">
            <figure class="portfolio_item">
              <img  src="https://images.ctfassets.net/6m9bd13t776q/53j6AZvKQZvCEn2KkioWOS/380e9c57374faa8e5679477bc92cad3d/baby-big-orange-cat-2160x1200.jpg?q=90" alt="" />	
            </figure>
      
            <figure class="portfolio_item">
              <img src="https://www.purina.co.uk/sites/default/files/2020-12/Understanding%20Your%20Cat%27s%20Body%20LanguageHERO.jpg" alt="" />	
            </figure>
      
            <figure class="portfolio_item">
                <img src="https://www.petplace.com/static/a8d9493514016bb093e4b5459cf717c8/c85e8/shutterstock_731444602.png" alt="" />
            </figure>

            <figure class="portfolio_item">
              <img src="https://images.indianexpress.com/2022/10/cat-1200.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://c4.wallpaperflare.com/wallpaper/217/945/121/cats-cat-animal-baby-animal-wallpaper-preview.jpg" alt="" />	
            </figure>
    
            <figure class="portfolio_item">
              <img src="https://www.sheknows.com/wp-content/uploads/2018/08/weird-cat-behavior_c4r8xi.png" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://thediscerningcat.com/wp-content/uploads/2021/03/norwegian-forest-cat-tabby-winking.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-photos-of-cats-in-grass-1593184777.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_39/3021711/190923-cat-pet-stock-cs-1052a.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://welovecatsandkittens.com/wp-content/uploads/2020/06/Funny-Cat-Names.jpg" alt="" />
            </figure>

          </section>
        </div>
      </div>
      </main>
    </div>
  
     <footer class="footer">
        <div class="bd-best">
            <div class="bd-best-list">
              <figure class="bd-best-item" >
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/10/09/06/06/gift-4536515__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/12/22/01/14/snowman-4711637__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/11/13/12/35/drink-4623554__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2017/11/03/18/27/wintry-2915190__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2017/11/03/18/27/wintry-2915190__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/11/13/12/54/ball-4623653__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/03/02/21/07/birds-4030704__340.png" alt="">
              </figure>
              <figure class="bd-best-item" >
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/10/09/06/06/gift-4536515__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/12/22/01/14/snowman-4711637__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/11/13/12/35/drink-4623554__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2017/11/03/18/27/wintry-2915190__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2017/11/03/18/27/wintry-2915190__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/11/13/12/54/ball-4623653__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/03/02/21/07/birds-4030704__340.png" alt="">
              </figure>
              <figure class="bd-best-item" >
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/10/09/06/06/gift-4536515__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/12/22/01/14/snowman-4711637__340.png" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2019/11/13/12/35/drink-4623554__340.png" alt="">
              </figure>
             
             
                       
            </div>
       </div>
    </footer> 
  <app-courosal></app-courosal>
  -->
  <h1 style="text-align: center;font-family: 'Shantell Sans', cursive;background-color: rgb(250, 231, 248);" ><b>MIXO MEOW</b></h1>

<div class="card text-bg-dark">
   
    <h5 class="card-title" style="font-style: italic;">KITTENS PARADISE</h5>
    <p class="card-text" style="font-style: initial;">“Cats are connoisseurs of comfort.”“Cats are intended to teach us that not everything in nature has a purpose.”.</p>
    <p class="card-text" style="font-style: initial;"><small>“Cats choose us; we don't own them.” - Kristin Cast.</small></p>
  </div>


  <div class="carousel">
    <div tabindex="0" class="carousel--item one"></div>
    <div tabindex="0" class="carousel--item two"></div>
    <div tabindex="0" class="carousel--item three"></div>
    <div tabindex="0" class="carousel--item four"></div>
    <div tabindex="0" class="carousel--item five"></div>
  </div>

    
  
    
        