<body>
    <nav class="nav">
      
        
        
        
    </nav>
    <!-- <div class="wrapper">
      <main class="main ">
        <div class="slide">
        <div class="portfolio">
          <section class="portfolio_items">
            <figure class="portfolio_item">
              <img  src="https://cdn.pixabay.com/photo/2022/02/15/18/04/woman-7015406__340.jpg" alt="" />	
            </figure>
      
            <figure class="portfolio_item">
              <img src="https://cdn.pixabay.com/photo/2020/01/23/16/42/embrace-4788167__340.jpg" alt="" />	
            </figure>
      
            <figure class="portfolio_item">
                <img src="https://cdn.pixabay.com/photo/2021/10/13/11/31/couple-6706278__340.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
              <img src="https://cdn.pixabay.com/photo/2019/12/26/16/14/sunset-4720723__340.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://cdn.pixabay.com/photo/2022/03/06/03/18/friends-7050708__340.jpg" alt="" />	
            </figure>
    
            <figure class="portfolio_item">
              <img src="https://cdn.pixabay.com/photo/2022/04/04/18/17/sunset-7112018__340.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://cdn.pixabay.com/photo/2022/04/18/13/34/beach-7140587__340.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://cdn.pixabay.com/photo/2022/04/20/01/23/wedding-7144049__340.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://cdn.pixabay.com/photo/2022/05/22/19/04/pregnancy-7214373__340.jpg" alt="" />
            </figure>

            <figure class="portfolio_item">
            <img src="https://cdn.pixabay.com/photo/2022/02/21/07/12/woman-7025944__340.jpg" alt="" />
            </figure>

          </section>
        </div>
      </div>
      </main>
    </div> -->
    <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p> 
       <h1 style=" text-align: center; font-family: 'Shantell Sans', cursive;background-color: rgb(220, 163, 197);">WELCOME TO KITTY WORLD!</h1>
    
       <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p>
      
    <footer class="footer">
        <div class="bd-best">
            <div class="bd-best-list">
              <figure class="bd-best-item" >
                <img class="kl_img" src="https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492__340.jpg" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/BabyRagdoll2.jpg/340px-BabyRagdoll2.jpg" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Feral_cat_Virginia_crop.jpg/340px-Feral_cat_Virginia_crop.jpg" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/European_shorthair-TUROK_cat_show_Turku_2011-11-26.JPG/340px-European_shorthair-TUROK_cat_show_Turku_2011-11-26.JPG" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Oriental_longhair_kitten.jpg/340px-Oriental_longhair_kitten.jpg" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="http://frontpagemeews.com/wp-content/uploads/2017/01/drooling-cover-photo-750x499.jpg" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Niobe050905-Siamese_Cat.jpeg/340px-Niobe050905-Siamese_Cat.jpeg" alt="">
              </figure>
              <figure class="bd-best-item" >
                <img class="kl_img" src="https://cdn.shopify.com/s/files/1/0528/6176/3740/files/blog14_480x480.jpg?v=1622083160" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://cdn.wamiz.fr/cdn-cgi/image/format=auto,quality=80,width=400,height=400,fit=cover/animal/breed/pictures/613f5a378d224202655110.jpg" alt="">
              </figure>
              <figure class="bd-best-item">
                <img class="kl_img" src="https://www.eastcoastdaily.in/wp-content/uploads/2020/12/123032maine-coon-black.jpg" alt="">
              </figure>
              
              
              
             
                       
            </div>
       </div>
    </footer>
    <!-- <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p> 

    <div class="card">
        <div class="card-text">
          <h2 style="text-align: center;font-style:initial ;background-color: rgb(196, 196, 143);">ABOUT US</h2>
          <div class="card-description">
            <h3 style="font-style:italic;background-color: rgb(236, 219, 199);"><b>we are on a mission to build the worlds best community(cats corner)for cats and kittens.Our aim is to give them a safe place as their own home.</b></h3>
        
        </div>
      </div>

     
      <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p>  -->
    
      